<dir class="input-group">
    <input @bind-value="Search" type="text" class="form-control" placeholder="search" />
    <button type="button" class="btn-success btn-primary input-group-text" @onclick="OnSearch">Search</button>
</dir>

@code {
    private string Search { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> OnSearchCallback { get; set; }

    private void OnSearch()
    {
        OnSearchCallback.InvokeAsync(Search);
    }
}