################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# ignore database folder
/OldWebClient
# ignore all logs
Thumbs.db
# ignore all logs
*.log
