@page "/"

<PageTitle>Shop online</PageTitle>

<h1>We welcome you to our shop online</h1>

<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>

Place visit oll our pages. 
We'll be glad to recive new fedback from your.
<input t/>send mail<input/>

<SurveyPrompt Title="How is Blazor working for you?" />
