@page "/orders/{id:guid}"

@inject IRepository<DocumentSale, Guid> repository

<PageTitle>Order</PageTitle>

<h1>Order detail</h1>

<p>This is the page off order detail</p>

@if (order == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="media">

    </div>
}

@code {

    private DocumentSale order = null;

    [Parameter]
    public Guid Id{ get; set; }

    protected override async Task OnParametersSetAsync()
    {
        order = await repository.GetByIdAsync(Id);
    }

  
}

