@page "/document"
@using global::Shared.Models.Dtos
@using Microsoft.Extensions.Logging
@inject ILogger<DocumentEdit> Logger


<PageTitle>Document</PageTitle>
<h1>Document edit</h1>
<EditForm Model="@Document" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label>Type
            <InputSelect @bind-Value="Document.DocumentType" />
        </label>
    </div>
    <InputText @bind-Value="Document.ExchangeId" />
    <InputDate @bind-Value="Document.DateTime" />
    <InputSelect @bind-Value="Document.Organization" />
    <InputSelect @bind-Value="Document.Client" />
    <InputSelect @bind-Value="Document.ClientContract" />
    <InputSelect @bind-Value="Document.DocumentStatus" />
    <InputSelect @bind-Value="Document.Responsible" />
    <InputSelect @bind-Value="Document.ClientContract" />
    <InputSelect @bind-Value="Document.ExchangeDateTime" />



</EditForm>

@code {
    public DocumentDTO<Guid> Document { get; set; } = new();

    private void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");
    }
}