@page "/products"
@using global::Shared.Models.Catalogs
@using global::Shared.Services.Repository;
@inject IRepository<Product,Guid> Repository

<h3>Products</h3>

@code {
    public IEnumerable<Product> ProductsList { get; set; }

    private int currentPage = 1;

    private int itemsOnPage = 25;

    private int tottalPages = 1;


    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private async Task GetProduct()
    {
        var response = Repository.GetByFiltersAsync(limit: itemsOnPage, offset: 10);
    }
}
